.container {
  max-width: 1024px;
  height: 90vh;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
h1 {
  margin: 0;
  padding: 20px 10px;
  text-align: center;
}
.comments {
  height: 100%;
  width: 100%;
  overflow: auto;
}
p {
  margin: 0;
  padding: 10px;
}
p.red {
  background-color: #ff00001f;
}
p.blue {
  background-color: #00ffff21;
}
p.yellow {
  background-color: #ffff0330;
}
form {
  width: 80%;
}
textarea {
  width: 100%;
  height: 100px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
}
button {
  width: 100%;
  padding: 20px 10px;
  font-size: 20px;
  background-color: #d3ffea;
  border: 1px solid;
  border-radius: 10px;
  cursor: pointer;
}
